@import "../helium/helium";

@mixin mbox-theme {
   @include helium;
     /* AppMenu */
   --menubar-menuitem-selected-background-color: #D8BC00;

     /* Basic */
   --border-color: #F1E000;
   --error-color: #940C00;
   --primary-color: #D8BC00;
   --primary-color_rgb: 216, 188, 0;
   --secondary-color: #8CDC00;
   --secondary-color_rgb: 140, 220, 0;
   --success-color: #001113;

     /* Common */
   --border-dim-focused-color: #F1E000;

     /* Button */
   --button-error-color: #940C00;
   --button-primary-color: #D8BC00;
   --button-secondary-color: #FFEF94;
   --button-success-color: #001113;

     /* Calendar */
   --calendar-event-background-color: #D8BC00;
   --calendar-month-day-bottom-spacer-hover-color: #D8BC00;
   --calendar-month-day-dragemphasis-background-color: #FFEF94;
   --calendar-month-day-number-hover-color: #D8BC00;
   --calendar-month-day-today-day-number-border-color: #D8BC00;
   --calendar-month-day-today-day-number-color: #D8BC00;
   --calendar-month-event-marker-color: #D8BC00;
   --calendar-week-current-time-color: #D8BC00;
   --calendar-week-event-content-border-color: #F1E000;

     /* CheckBox */
   --checkbox-border-color: #F1E000;
   --checkbox-checked-border-color: #D8BC00;
   --checkbox-checked-color: #D8BC00;
   --checkbox-checked-focused-border-color: #D8BC00;
   --checkbox-checked-focused-color: #D8BC00;
   --checkbox-focused-border-color: #F1E000;
   --checkbox-read-only-checked-focused-border-color: #F1E000;
   --checkbox-read-only-focused-border-color: #F1E000;

     /* DateField */
   --datefield-calendarpanel-button-hover-color: #D8BC00;
   --datefield-calendarpanel-day-focused-border-color: #D8BC00;
   --datefield-calendarpanel-day-hover-color: #D8BC00;
   --datefield-calendarpanel-day-selected-background-color: #D8BC00;
   --datefield-calendarpanel-day-today-border-color: #F1E000;
   --datefield-calendarpanel-month-color: #FFEF94;
   --datefield-calendarpanel-weekdays-color: #FFEF94;

     /* DatePicker */
   --datepicker-border-color: #F1E000;

     /* FileUpload */
   --fileupload-dropzone-border-color: #D8BC00;
   --fileupload-dropzone-prompt-border-color: #F1E000;

     /* Grid */
   --grid-details-deco-color: #D8BC00;
   --grid-drop-marker-color: #D8BC00;
   --grid-editor-border-color: #D8BC00;
   --grid-editor-cancel-button-color: #D8BC00;
   --grid-editor-save-button-color: #D8BC00;
   --grid-focused-cell-border-color: #D8BC00;
   --grid-row-drag-background-color: #D8BC00;
   --grid-row-drag-border-color: #D8BC00;
   --grid-selected-row-background-color: #D8BC00;

     /* Link */
   --link-color: #D8BC00;
   --link-visited-color: #D8BC00;

     /* Notification */
   --notification-error-background-color: #940C00;
   --notification-humanized-background-color: #D8BC00;
   --notification-system-background-color: #FFEF94;

     /* Pagination */
   --pagination-selected-page-color: #D8BC00;
   --pagination-selected-page-focused-border-color: #D8BC00;

     /* RadioButtonGroup */
   --radio-checked-color: #D8BC00;

     /* SelectionOverlay (ContextMenu) */
   --selection-overlay-selected-item-background-color: #D8BC00;

     /* SideMenu */
   --sidemenu-item-badge-color: #D8BC00;
   --sidemenu-item-focused-color: #D8BC00;
   --sidemenu-item-selected-background-color: #D8BC00;
   --sidemenu-responsive-item-selected-background-color: #D8BC00;
   --sidemenu-responsive-title-background-color: #FFEF94;

     /* TabSheet */
   --tabsheet-drop-indicator-color: #D8BC00;
   --tabsheet-scroller-button-hover-color: #D8BC00;
   --tabsheet-tabitemcell-caption-focus-color: #D8BC00;
   --tabsheet-tabitemcell-caption-hover-color: #D8BC00;
   --tabsheet-tabitemcell-selected-color: #D8BC00;
   --tabsheet-tabitemcell-selected-deco-color: #D8BC00;

     /* Table */
   --table-focused-row-border-color: #D8BC00;
   --table-outer-border-color: #F1E000;
   --table-selected-row-background-color: #D8BC00;

     /* TagField */
   --tagfield-tag-background-color: #D8BC00;

     /* TagLabel */
   --taglabel-background-color: #D8BC00;

     /* TagPicker */
   --tagpicker-tag-background-color: #D8BC00;

     /* TextField */
   --textfield-read-only-focused-border-color: #F1E000;

     /* Tooltip */
   --tooltip-error-message-font-color: #940C00;
   --tooltip-error-message-level-error-font-color: #940C00;
   --tooltip-error-message-level-system-font-color: #D8BC00;

     /* Tree */
   --tree-focused-row-border-color: #D8BC00;
   --tree-selected-row-background-color: #D8BC00;


}