<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.mbox/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.mbox.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Currency.browse" caption="msg://com.company.mbox.screen.currency/currencyBrowse.menu"/>
        <item screen="Warehouse.browse" caption="msg://com.company.mbox.screen.warehouse/warehouseBrowse.menu"/>
        <item screen="Division.browse" caption="msg://com.company.mbox.screen.division/divisionBrowse.menu"/>
        <item screen="Organization.browse" caption="msg://com.company.mbox.screen.organization/organizationBrowse.menu"/>
        <item screen="Item.browse" caption="msg://com.company.mbox.screen.item/itemBrowse.menu"/>
        <item screen="Unit.browse" caption="msg://com.company.mbox.screen.unit/unitBrowse.menu"/>
        <item screen="DicSideBar.browse" caption="msg://com.company.mbox.screen.dicsidebar/dicSideBarBrowse.menu"/>
        <item screen="OrderItem.browse" caption="msg://com.company.mbox.screen.orderitem/orderItemBrowse.menu"/>
        <item screen="Order_.browse" caption="msg://com.company.mbox.screen.order/orderBrowse.menu"/>
    </menu>
    <item id="loginScreen" screen="BrandLogin" caption="msg://com.company.mbox/menu_config.BrandLogin" insertAfter="administration"
          openMode="DIALOG"/>
    <item screen="User.registration" id="registrationUser" caption="msg:///registrationUser"/>
</menu-config>