<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.mbox/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.mbox/menu.user.browse"/>
        <item screen="themeSettingsScreen" caption="msg://com.company.mbox/menu.theme.settings"/>
        <item screen="Item.browse" caption="msg://com.company.mbox/menu.item.list"/>
        <item screen="DicSideBar.browse" caption="msg://com.company.mbox/menu.dic.side.bar.browse"/>
    </menu>
    <item screen="Items" caption="msg://com.company.mbox.screen.item/items.caption"/>
    <item screen="BasketController" caption="msg://com.company.mbox.screen.orderitem/basketController.menu"/>
    <item screen="OrdersController" caption="msg://com.company.mbox.screen.orderitem/ordersController.menu"/>
</menu-config>